In [10]:
import sys

In [11]:
sys.exc_info()

(None, None, None)

In [12]:
import pandas as pd

In [13]:
path = r'artifact/08_17_2024_04_14_57/data_ingestion/feature_store/sensor.csv'

df = pd.read_csv(path)
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,199350,0.0,468.0,58.0,0.0,0.0,0.0,0.0,0.0,...,282224.0,95380.0,237386.0,479518.0,899682.0,615538.0,7440.0,180.0,0.0,0.0
1,pos,892422,2.0,1342.0,1100.0,0.0,0.0,0.0,2716.0,656148.0,...,3500996.0,1980134.0,5102372.0,7882256.0,14095922.0,6605678.0,206190.0,774.0,0.0,0.0
2,pos,392526,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,5384816.0,2076164.0,2854136.0,2445814.0,583594.0,210220.0,11738.0,172.0,NaN,NaN
3,pos,460990,0.0,3322.0,212.0,0.0,0.0,0.0,1094.0,63812.0,...,864476.0,336864.0,820060.0,1116896.0,2489538.0,1271120.0,41198.0,20.0,0.0,0.0
4,pos,110502,0.0,8.0,8.0,0.0,0.0,0.0,0.0,0.0,...,50822.0,22460.0,36744.0,20498.0,15926.0,21798.0,1306.0,0.0,0.0,0.0

In [14]:
df.shape

(321, 171)

In [15]:
df.isnull().sum()

class       0
aa_000      0
ab_000    230
ac_000    138
ad_000    217
         ...
ee_007      3
ee_008      3
ee_009      3
ef_000    102
eg_000    102
Length: 171, dtype: int64

In [16]:
df.dtypes

class      object
aa_000      int64
ab_000    float64
ac_000    float64
ad_000    float64
           ...
ee_007    float64
ee_008    float64
ee_009    float64
ef_000    float64
eg_000    float64
Length: 171, dtype: object

In [17]:
from scipy.stats import ks_2samp
import numpy as np

In [18]:
d1 = np.random.randn(100)
d2 = np.random.normal(loc=0.0, scale=1.0, size=100)
d3 = np.random.uniform(low=-1, high=2, size=100)

In [19]:
ks_2samp(d1, d2)

KstestResult(statistic=0.2, pvalue=0.03638428787491733, statistic_location=0.05668154816457801, statistic_sign=1)

In [20]:
ks_2samp(d1, d3)

KstestResult(statistic=0.24, pvalue=0.0061340334218580265, statistic_location=0.3986776616193534, statistic_sign=1)

In [21]:
ks_2samp(d2, d3)

KstestResult(statistic=0.16, pvalue=0.1548386665118475, statistic_location=1.250324822377371, statistic_sign=1)

In [22]:
train_path = r'artifact/08_17_2024_04_14_57/data_ingestion/ingested/train.csv'
test_path = r'artifact/08_17_2024_04_14_57/data_ingestion/ingested/test.csv'

In [23]:
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

In [24]:
train_df.columns

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=171)

In [25]:
test_df.columns

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=171)

In [26]:
train_df['aa_000'].isnull().sum()

0

In [27]:
test_df['aa_000'].isnull().sum()

0

In [28]:
d1 = train_df['ee_003']
d2 = test_df['ee_003']

In [29]:
ks_2samp(d1, d2)

KstestResult(statistic=nan, pvalue=nan, statistic_location=nan, statistic_sign=nan)

In [30]:

def get_drift_report(base_data: pd.DataFrame, current_data: pd.DataFrame, threshold: float=0.1):
    report = {}
    
    for col in base_data.columns:
        test = ks_2samp(base_data[col], current_data[col])
        
        # not have enough evidence to reject the null hypothesis (H0)
        # both the data seems to come from the same distribution
        if test.pvalue >= threshold:
            report[col] = {
                'p-value': test.pvalue,
                'drift status': False
            }
        else:
            report[col] = {
                'p-value': test.pvalue,
                'drift status': True
            }
    
    return report


get_drift_report(train_df, test_df)

{'class': {'p-value': 1.0, 'drift status': False},
 'aa_000': {'p-value': 0.7603742420966467, 'drift status': False},
 'ab_000': {'p-value': nan, 'drift status': True},
 'ac_000': {'p-value': nan, 'drift status': True},
 'ad_000': {'p-value': nan, 'drift status': True},
 'ae_000': {'p-value': nan, 'drift status': True},
 'af_000': {'p-value': nan, 'drift status': True},
 'ag_000': {'p-value': nan, 'drift status': True},
 'ag_001': {'p-value': nan, 'drift status': True},
 'ag_002': {'p-value': nan, 'drift status': True},
 'ag_003': {'p-value': nan, 'drift status': True},
 'ag_004': {'p-value': nan, 'drift status': True},
 'ag_005': {'p-value': nan, 'drift status': True},
 'ag_006': {'p-value': nan, 'drift status': True},
 'ag_007': {'p-value': nan, 'drift status': True},
 'ag_008': {'p-value': nan, 'drift status': True},
 'ag_009': {'p-value': nan, 'drift status': True},
 'ah_000': {'p-value': nan, 'drift status': True},
 'ai_000': {'p-value': nan, 'drift status': True},
 'aj_000': {'p-value': nan, 'drift status': True},
 'ak_000': {'p-value': nan, 'drift status': True},
 'al_000': {'p-value': nan, 'drift status': True},
 'am_0': {'p-value': nan, 'drift status': True},
 'an_000': {'p-value': nan, 'drift status': True},
 'ao_000': {'p-value': nan, 'drift status': True},
 'ap_000': {'p-value': nan, 'drift status': True},
 'aq_000': {'p-value': nan, 'drift status': True},
 'ar_000': {'p-value': nan, 'drift status': True},
 'as_000': {'p-value': nan, 'drift status': True},
 'at_000': {'p-value': nan, 'drift status': True},
 'au_000': {'p-value': nan, 'drift status': True},
 'av_000': {'p-value': nan, 'drift status': True},
 'ax_000': {'p-value': nan, 'drift status': True},
 'ay_000': {'p-value': nan, 'drift status': True},
 'ay_001': {'p-value': nan, 'drift status': True},
 'ay_002': {'p-value': nan, 'drift status': True},
 'ay_003': {'p-value': nan, 'drift status': True},
 'ay_004': {'p-value': nan, 'drift status': True},
 'ay_005': {'p-value': nan, 'drift status': True},
 'ay_006': {'p-value': nan, 'drift status': True},
 'ay_007': {'p-value': nan, 'drift status': True},
 'ay_008': {'p-value': nan, 'drift status': True},
 'ay_009': {'p-value': nan, 'drift status': True},
 'az_000': {'p-value': nan, 'drift status': True},
 'az_001': {'p-value': nan, 'drift status': True},
 'az_002': {'p-value': nan, 'drift status': True},
 'az_003': {'p-value': nan, 'drift status': True},
 'az_004': {'p-value': nan, 'drift status': True},
 'az_005': {'p-value': nan, 'drift status': True},
 'az_006': {'p-value': nan, 'drift status': True},
 'az_007': {'p-value': nan, 'drift status': True},
 'az_008': {'p-value': nan, 'drift status': True},
 'az_009': {'p-value': nan, 'drift status': True},
 'ba_000': {'p-value': nan, 'drift status': True},
 'ba_001': {'p-value': nan, 'drift status': True},
 'ba_002': {'p-value': nan, 'drift status': True},
 'ba_003': {'p-value': nan, 'drift status': True},
 'ba_004': {'p-value': nan, 'drift status': True},
 'ba_005': {'p-value': nan, 'drift status': True},
 'ba_006': {'p-value': nan, 'drift status': True},
 'ba_007': {'p-value': nan, 'drift status': True},
 'ba_008': {'p-value': nan, 'drift status': True},
 'ba_009': {'p-value': nan, 'drift status': True},
 'bb_000': {'p-value': nan, 'drift status': True},
 'bc_000': {'p-value': nan, 'drift status': True},
 'bd_000': {'p-value': nan, 'drift status': True},
 'be_000': {'p-value': nan, 'drift status': True},
 'bf_000': {'p-value': nan, 'drift status': True},
 'bg_000': {'p-value': nan, 'drift status': True},
 'bh_000': {'p-value': nan, 'drift status': True},
 'bi_000': {'p-value': nan, 'drift status': True},
 'bj_000': {'p-value': nan, 'drift status': True},
 'bk_000': {'p-value': nan, 'drift status': True},
 'bl_000': {'p-value': nan, 'drift status': True},
 'bm_000': {'p-value': nan, 'drift status': True},
 'bn_000': {'p-value': nan, 'drift status': True},
 'bo_000': {'p-value': nan, 'drift status': True},
 'bp_000': {'p-value': nan, 'drift status': True},
 'bq_000': {'p-value': nan, 'drift status': True},
 'br_000': {'p-value': nan, 'drift status': True},
 'bs_000': {'p-value': nan, 'drift status': True},
 'bt_000': {'p-value': nan, 'drift status': True},
 'bu_000': {'p-value': nan, 'drift status': True},
 'bv_000': {'p-value': nan, 'drift status': True},
 'bx_000': {'p-value': nan, 'drift status': True},
 'by_000': {'p-value': 0.8327316920117638, 'drift status': False},
 'bz_000': {'p-value': nan, 'drift status': True},
 'ca_000': {'p-value': nan, 'drift status': True},
 'cb_000': {'p-value': nan, 'drift status': True},
 'cc_000': {'p-value': nan, 'drift status': True},
 'cd_000': {'p-value': nan, 'drift status': True},
 'ce_000': {'p-value': nan, 'drift status': True},
 'cf_000': {'p-value': nan, 'drift status': True},
 'cg_000': {'p-value': nan, 'drift status': True},
 'ch_000': {'p-value': nan, 'drift status': True},
 'ci_000': {'p-value': nan, 'drift status': True},
 'cj_000': {'p-value': nan, 'drift status': True},
 'ck_000': {'p-value': nan, 'drift status': True},
 'cl_000': {'p-value': nan, 'drift status': True},
 'cm_000': {'p-value': nan, 'drift status': True},
 'cn_000': {'p-value': nan, 'drift status': True},
 'cn_001': {'p-value': nan, 'drift status': True},
 'cn_002': {'p-value': nan, 'drift status': True},
 'cn_003': {'p-value': nan, 'drift status': True},
 'cn_004': {'p-value': nan, 'drift status': True},
 'cn_005': {'p-value': nan, 'drift status': True},
 'cn_006': {'p-value': nan, 'drift status': True},
 'cn_007': {'p-value': nan, 'drift status': True},
 'cn_008': {'p-value': nan, 'drift status': True},
 'cn_009': {'p-value': nan, 'drift status': True},
 'co_000': {'p-value': nan, 'drift status': True},
 'cp_000': {'p-value': nan, 'drift status': True},
 'cq_000': {'p-value': nan, 'drift status': True},
 'cr_000': {'p-value': nan, 'drift status': True},
 'cs_000': {'p-value': nan, 'drift status': True},
 'cs_001': {'p-value': nan, 'drift status': True},
 'cs_002': {'p-value': nan, 'drift status': True},
 'cs_003': {'p-value': nan, 'drift status': True},
 'cs_004': {'p-value': nan, 'drift status': True},
 'cs_005': {'p-value': nan, 'drift status': True},
 'cs_006': {'p-value': nan, 'drift status': True},
 'cs_007': {'p-value': nan, 'drift status': True},
 'cs_008': {'p-value': nan, 'drift status': True},
 'cs_009': {'p-value': nan, 'drift status': True},
 'ct_000': {'p-value': nan, 'drift status': True},
 'cu_000': {'p-value': nan, 'drift status': True},
 'cv_000': {'p-value': nan, 'drift status': True},
 'cx_000': {'p-value': nan, 'drift status': True},
 'cy_000': {'p-value': nan, 'drift status': True},
 'cz_000': {'p-value': nan, 'drift status': True},
 'da_000': {'p-value': nan, 'drift status': True},
 'db_000': {'p-value': nan, 'drift status': True},
 'dc_000': {'p-value': nan, 'drift status': True},
 'dd_000': {'p-value': nan, 'drift status': True},
 'de_000': {'p-value': nan, 'drift status': True},
 'df_000': {'p-value': nan, 'drift status': True},
 'dg_000': {'p-value': nan, 'drift status': True},
 'dh_000': {'p-value': nan, 'drift status': True},
 'di_000': {'p-value': nan, 'drift status': True},
 'dj_000': {'p-value': nan, 'drift status': True},
 'dk_000': {'p-value': nan, 'drift status': True},
 'dl_000': {'p-value': nan, 'drift status': True},
 'dm_000': {'p-value': nan, 'drift status': True},
 'dn_000': {'p-value': nan, 'drift status': True},
 'do_000': {'p-value': nan, 'drift status': True},
 'dp_000': {'p-value': nan, 'drift status': True},
 'dq_000': {'p-value': nan, 'drift status': True},
 'dr_000': {'p-value': nan, 'drift status': True},
 'ds_000': {'p-value': nan, 'drift status': True},
 'dt_000': {'p-value': nan, 'drift status': True},
 'du_000': {'p-value': nan, 'drift status': True},
 'dv_000': {'p-value': nan, 'drift status': True},
 'dx_000': {'p-value': nan, 'drift status': True},
 'dy_000': {'p-value': nan, 'drift status': True},
 'dz_000': {'p-value': nan, 'drift status': True},
 'ea_000': {'p-value': nan, 'drift status': True},
 'eb_000': {'p-value': nan, 'drift status': True},
 'ec_00': {'p-value': nan, 'drift status': True},
 'ed_000': {'p-value': nan, 'drift status': True},
 'ee_000': {'p-value': nan, 'drift status': True},
 'ee_001': {'p-value': nan, 'drift status': True},
 'ee_002': {'p-value': nan, 'drift status': True},
 'ee_003': {'p-value': nan, 'drift status': True},
 'ee_004': {'p-value': nan, 'drift status': True},
 'ee_005': {'p-value': nan, 'drift status': True},
 'ee_006': {'p-value': nan, 'drift status': True},
 'ee_007': {'p-value': nan, 'drift status': True},
 'ee_008': {'p-value': nan, 'drift status': True},
 'ee_009': {'p-value': nan, 'drift status': True},
 'ef_000': {'p-value': nan, 'drift status': True},
 'eg_000': {'p-value': nan, 'drift status': True}}

In [31]:
import yaml
import os

In [32]:
def read_yaml_file(file_path: str) -> dict:
    try:
        with open(file_path, "rb") as yaml_file:
            return yaml.safe_load(yaml_file)
    except Exception as e:
        raise Exception(e)

In [33]:
SCHEMA_FILE_PATH = os.path.join("config", "schema.yaml")
SCHEMA_FILE_PATH

'config\\schema.yaml'

In [34]:
schema_config = read_yaml_file(SCHEMA_FILE_PATH)
len(schema_config['columns'])

164

In [36]:
train_df.shape

(256, 171)